* {
	margin: 0;
	padding: 0;
	font-family: "Hanson-Bold" !important;
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input,
button,
select,
textarea {
	outline: none;
}

input[type=checkbox],
input[type=radio] {
	margin: 0;
}

p,
label,
ol,
ul {
	margin: 0;
}

@font-face {
	font-family: Hanson-Bold;
	src: url("../fonts/Hanson-Bold.ttf");
}

body,
html {
	scroll-behavior: smooth;
	background: #141414;
}
.flex {
	display: flex;
}

.header {
	height: 80px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
input,div{
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;  
}