* {
	margin: 0;
	padding: 0;
	/* font-family: "Fang-Zheng" !important; */
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input,
button,
select,
textarea {
	outline: none;
}

input[type=checkbox],
input[type=radio] {
	margin: 0;
}

p,
label,
ol,
ul {
	margin: 0;
}

@font-face {
	font-family: Hanson-Bold;
	src: url("../fonts/Hanson-Bold.ttf");
}
.han-son{
	font-family: "Hanson-Bold" !important;
}
/* 方正兰亭大黑 */
.fz-fm-dh{
	/* font-family: "Fzlt-Dh" !important; */
}
/* 方正兰亭刊黑_GBK */
.fz-fm-kh{
	/* font-family: "Fzlt-Kh" !important; */
}
/* 方正兰亭刊宋_GBK */
.fz-fm-ks{
	/* font-family: "Fzlt-Ks" !important; */
}
/* 方正兰亭细黑_GBK_0 */
.fz-fm-xh{
	/* font-family: "Fzlt-Xh" !important; */
}
/* 方正兰亭纤黑_GBK */
.fz-fm-qh{
	/* font-family: "Fzlt-Qh" !important; */
}
/* 方正兰亭中粗黑_GBK */
.fz-fm-ch{
	/* font-family: "Fzlt-Ch" !important; */
}
/* 方正兰亭中扁黑_GBK */
.fz-fm-bh{
	/* font-family: "Fzlt-Bh" !important; */
}
/* 方正兰亭准黑_GBK */
.fz-fm-zhzh{
	/* font-family: "Fzlt-Zh-Zh" !important; */
}
/* 方正兰亭准黑_GBK */
.fz-fm-thb{
	/* font-family: "Fzlt-Thb" !important; */
}
/* 平方-繁体 */
.fz-fm-pf{
	/* font-family: "PingFang" !important; */
}
/* 平方 */
@font-face {
	/* font-family: PingFang;
	src: url("../fonts/PingFang.ttf"); */
}
/* 方正兰亭特黑边 */
@font-face {
	font-family: Fzlt-Thb;
	src: url("../fonts/fzltzhbh.ttf");
}
/* 方正兰亭大黑 */
@font-face {
	font-family: Fzlt-Dh;
	src: url("../fonts/fzltdh.ttf");
}
/* 方正兰亭刊黑_GBK */
@font-face {
	font-family: Fzlt-Kh;
	src: url("../fonts/fzltkh.ttf");
}
/* 方正兰亭刊宋_GBK */
@font-face {
	font-family: Fzlt-Ks;
	src: url("../fonts/fzltks.ttf");
}
/* 方正兰亭细黑_GBK_0 */
@font-face {
	font-family: Fzlt-Xh;
	src: url("../fonts/fzltxh.ttf");
}
/* 方正兰亭纤黑_GBK */
@font-face {
	font-family: Fzlt-Qh;
	src: url("../fonts/fzltqh.ttf");
}
/* 方正兰亭中粗黑_GBK */
@font-face {
	font-family: Fzlt-Ch;
	src: url("../fonts/fzltch.ttf");
}
/* 方正兰亭中黑_GBK */
@font-face {
	font-family: Fzlt-Zh;
	src: url("../fonts/fzltzh.ttf");
}
/* 方正兰亭准黑_GBK */
@font-face {
	font-family: Fzlt-Zh-Zh;
	src: url("../fonts/fzltzhzh.ttf");
}
/* 方正兰亭准黑_GBK */
@font-face {
	font-family: Fzlt-Bh;
	src: url("../fonts/fzltbh.ttf");
}
body,
html {
	scroll-behavior: smooth;
	background: #141414;
}
.flex {
	display: flex;
}

.header {
	height: 80px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
input,div{
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;  
}