.ranking-dialog{
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 999;
  .rank-list{
    padding: 35px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .rank-media{
    display: none;
  }
  .rank-list-rank{
    background-image: url('/kpl/dialogRank.png');
    width: 49%;
    padding-left: 35px;
    padding-right: 53px;
    padding-bottom: 88px;
    padding-top: 127px;
    box-sizing: border-box;
    background-size: 100% 100%;
    .ranking-bumber{
      margin-bottom: 30px;
      img{
        width:46px;
        height:46px;
        margin-right: 8px;
      }
      div{
        height: 46px;
        width: 100%;
        text-align:right;
        background: linear-gradient(140.34deg, #DC78FF 19.63%, #0044EA 103.57%);
        p{
          font-weight: 600;
          font-size: 22px;
          line-height: 46px;
          color: #fff;
          background-color:#666;
          padding:0 18px;
          display:inline-block;
        }
      }
    }
  }
  .tipsrankingbox{
    .contentwords{
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 183.5%;
      text-align: center;
      margin: 55px auto;
    }
    .smolltips{
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 183.5%;
      margin-top: 10px;
    }
    .btnbox{
      text-align: center;
      max-width: 535px;
      justify-content: space-between;
      margin: 0 auto;
      button{
        border: none;
        background: transparent;
        font-weight: 600;
        font-size: 38px;
        line-height: 130%;
        color: #fff;
        border-radius: 5px;
        padding: 10px 15px ;
      }
      .btn1{
        border:5px solid #ddd;
        border-color:#a9deee #a9deee #bffde3;
      }
      .btn2{
        background: linear-gradient(140.34deg, #DC78FF 19.63%, #0044EA 103.57%);
        padding:15px 20px;
      }
    }
    .centerbtn{
      justify-content: center;
    }
  }
  .timeword{
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
  }
  .dialog-content{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -580px;
    margin-top: -408px;
    width: 1160px;
    height:816px;
    background: #151515;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    .close{
      position: absolute;
      top: 43px;
      right: 58px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .dialog-header{
      padding-top: 35px;
      width: 750px;
      justify-content: space-between;
      align-items:center;
      img{
        width: 133px;
        height:32px;
      }
      p{
        font-weight: 600;
        font-size: 38px;
        line-height: 130%;
      }
    }
  }
}

@media only screen and (max-width: 992px){
  .ranking-dialog{
    .dialog-content{
      margin-left: 0;
      margin-right: 0;
      left: 0;
      top: 0;
      margin-top: 0;
      border:0;
      width: 100%;
      .close{
        width:30px;
        height:30px;
        top: 30px;
        right:30px;
      }
      .dialog-header{
        width: 100%;
        padding:0 45px;
        margin-top: 90px;
        img{
          width: 40px;
          height: 10px;
        }
        p{
          font-size: 22px;
        }
      }
      .rank-list{
        display: none;
      }
      .rank-media{
        display: block;
        margin-top: 40px;
        >div{
          width: 220px;
          margin-left: auto;
          margin-right: auto;
          .ranking-bumber{
            justify-content: space-between;
            margin-bottom: 26px;
            img{
              width: 30px;
              height:30px;
            }
            div{
              width: 151px;
              height:30px;
              background: linear-gradient(140.34deg, #DC78FF 19.63%, #0044EA 103.57%);
              text-align: right;
              padding-right: 10px;
              p{
                font-size: 12px;
                line-height: 30px;
              }
            }
          }
        }
      }
      .tipsrankingbox{
        padding: 0 46px;
        .smolltips{
          font-size:12px;
        }
        .contentwords{
          font-size:16px;
        }
        .btnbox{
          flex-wrap: wrap;
          justify-content: center;
          button{
            width: 200px;
            height:40px;
            font-size: 18px;
            line-height: 40px;
            padding:0;
            margin-bottom: 16px;
          }
        }
      }
    }
    .timeword{
      font-size: 14px;
      margin-top: 40px;
    }
  }
}