.headportraitbox{
    .flexbetween{
        display: flex;
        justify-content: space-between;
    }
    .Fzlt_Thb{ 
        color: #A9DEEE;
    }
    .bannerbox{
        width: 100%;
        height: 810px;
        background-image: url('/imgs/headportrait_imgs1.png');
        background-size: 100% auto;
        position: relative;
        .logobox{
            position: absolute;
            bottom: 77px;
            left: 0;
            right: 0;
            margin: auto;
            width: 640px;
            justify-content: space-between;
            button{
                background: transparent;
                background-image: url('/imgs/headportrait_imgs3.png');   
                border: none;
                height: 70px;
                width: 240px;
                background-size: 100% 100%;
                font-weight: 500;
                font-size: 32px;
                line-height: 45px;
                color: #fff;
            }
        }
        
        
    }
    .contentbox1{
        padding: 0 13.2%;
        padding-bottom: 50px;
        box-sizing: border-box;
        justify-content: space-between;
        margin-top: 122px;
        .leftbox{
            width: 52.26%;
            .titlewords{
                font-weight: 600;
                font-size: 38px;
                line-height: 130%;
                color: #A8DEEE;
            }
            .tipswords{
                font-weight: 600;
                font-size: 22px;
                line-height: 31px;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 8px;
                margin-bottom: 40px;
            }
            .content{
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
            }
        }
        img{
            width: 37.73%;
        }
    }
    .contentbox2,.contentbox3,.contentbox4{
        img{
            width: 50%;
        }
        .wordsbox{
            width: 50%;
            background: #E1E1E1;
            padding: 68px 88px;
            box-sizing: border-box;
            h1,h3{
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #151515;
                opacity: 0.6;
            }
            h1{
                font-size: 48px;
                line-height: 65px;
            }
            h3{
                font-size: 22px;
                line-height: 30px;
                margin-top: 16px;
                margin-bottom: 33px;
            }
            p{
                font-size: 18px;
                line-height: 150%;
            }
            button{
                background: #c4c4c4;
                border: none;
                font-size: 28px;
                color: #fff;
                padding: 9px 13px;
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }
    .contentbox3,.contentbox4{
        padding: 100px 10%;
        justify-content: space-between;
        .wordsbox{
            background: transparent;
            h1,h3,p{
                color: rgba(255, 255, 255, 0.6);
            }
        }
        img{
            width: 43%;
        }
    }
    .contentbox5{
        text-align: center;
        h1{
            opacity: 0.6;
            font-weight: 600;
            font-size: 48px;
            line-height: 65px;
        }
        p{
            opacity: 0.6;
            width: 40%;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            margin: 24px auto 59px;
        }
        img{
            width: 100%;
        }
    }
    .contentbox6{
        padding: 200px 10%;
        box-sizing: border-box;
        text-align: center;
        h1{
            font-weight: 600;
            font-size: 48px;
            line-height: 65px;
            opacity: 0.6;
        }
        .imgbox{
            margin-top: 63px;
            justify-content: space-between;
            .leftbox,.rightbox{
                div{
                    margin-bottom: 50px;
                    margin-left: 65px;
                    margin-right: 65px;
                    text-align: left;
                    img{
                        vertical-align: middle;
                        width: 103px;
                        margin-right: 28px;
                        margin-left: 28px;
                    }
                    span{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 30px;
                        opacity: 0.6;
                    }
                }
                div:nth-child(2){
                    margin-left: 25px;
                    margin-right: 25px;
                    img{
                        margin-right: 24px;
                        margin-left: 24px;
                    }
                }
                div:nth-child(3){
                    margin-left: 65px;
                    margin-right: 65px;
                    img{
                        margin-right: 47px;
                        margin-left: 47px;
                    }
                }
            }
            .rightbox{
                div{
                    text-align: right;
                }
            }
            .centerbox{
                width: 27.15%;
            }
        }
    }
    .contentbox7{
        text-align: center;
        padding-bottom: 30px;
        h1{
            font-weight: 600;
            font-size: 48px;
            line-height: 65px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 82px;
        }
        .wordsbox{
            width: 60%;
            margin: 0 auto;
            background: #C4C4C4;
            text-align: left;
            padding: 57px 80px;
            font-weight: normal;
            font-size: 22px;
            line-height: 150%;
            color: #151515;
            box-sizing: border-box;
        }
    }
}
@media only screen and (max-width: 992px){
    .charitybox{
        .titlebox{
            width: 100%;
            .bannerimg1{
                display: block;
                margin-top: 40px;
                margin-bottom: 62px;
            }
            h1,p{
                width: 79.73%;
                margin: 0 auto;
            }
            h1{
                font-size: 28px;
                font-weight: 800;
                line-height: 140%;
            }
            p{
                font-size: 16px;
            }
            p.auction-introduction{
                margin-top: 20px !important;
            }
        }
        .bannerimg2{
            display: none;
        }
        .contentsbox{
            width: 84%;
            .everybox{
                margin-top: 7px;
                h1{
                    font-size: 22px;
                    line-height: 30px;
                }
                img,p{
                    margin-top: 56px;
                }
                img{
                    width: auto;
                    max-width: 100%;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .tablistbox{
            margin-top: 47px;
            .el-tabs__header.is-top{
                display: none;
            }
            .everytabbox .everytablist{
                flex-wrap: wrap;
                margin-bottom: 60px;
                .lefttab,.righttab{
                    margin-top: 0;
                    width: 100%;
                }
                .lefttab{
                    h1{
                        width: 50%;
                        display: inline-block;
                        margin-bottom: 0;
                    }
                    p{
                        display: inline-block;
                        width: 50%;
                        text-align: right;
                    }
                    p:nth-child(3),p:nth-child(4){
                        width: 100%;
                        text-align: right;
                    }
                    .xgqy{
                        display: block;
                        width: 95%;
                        text-align: justify;
                        margin-top: 20px;
                    }
                }
                .righttab{
                    overflow: auto;
                    white-space:nowrap;
                    display: block;
                    .everyimgbox{
                        display: inline-block;
                        width: 100%;
                        box-sizing: content-box;
                        p{
                            margin-top: -5px;
                            white-space: pre-wrap;
                        }
                    }
                }
            }
        }
    }
}