@media only screen and (max-width: 1440px) {
  div.home-page > div .home-page-four .image-left >img{
    width: 100%;
    height: auto;
    display: block;
  }
  div.home-page > div .home-page-four .image-left >div{
    display: none;
  }
}
@media screen and (max-width: 1599px) and (min-width: 993px){
  div.more-list{
    width: 200px;
    position: relative;
    &:hover{
      .more-content{
        transition: height 0.3s ease-in-out;
        height: 236px !important;
      }
      img{
        transition: transform 0.3s ease-in-out;
        transform: rotate(-90deg);
      }
    }
    .more-hover{
      margin-top: 5px;
      display: flex;
      span{
        font-size: 18px;
        display:block;
        margin-left: 8px;
        margin-right: 10px;
      }
      img{
        transition: transform 0.3s ease-in-out;
        display:block;
      }
    }
    .more-content{
      transition: height 0.3s ease-in-out;
      height:0;
      flex-direction:column;
      justify-content: space-around;
      overflow: hidden;
      position: absolute;
      top: 36px;
      background-color: #14141494;
      left: 0px;
      margin-left: 60px;
      display: flex;
      flex-wrap: wrap;
      a{
        &:hover{
          color: #fff;
        }
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .video-wrap .header-txt img {
    width: 66%;
    padding: 0% 20px !important;
    margin-top: 4%;
  }
  .video-wrap .header-txt {
    padding: 0% !important;
  }
  .video-wrap video {
    height: 245px !important;
  }
  .video-wrap .header-txt {
    // top: 80px !important;
  }
  .video-wrap{
    img.star-image{
      width: 75.1px;
      bottom: -40px;
      right: -135px;
    }
  }
  
  .modal-container {
    .modal-wrap {
      width: 100% !important;
      &-name {
        padding-bottom: 26px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
        margin-bottom: 21px;
      }
      &-name-text {
        opacity: 1;
      }
      .content-wrap {
        display: block !important;
        .banner {
          width: 100% !important;
        }
        .content-desc {
          margin: 10px 0 !important;
        }
      }
    }
  }
  
  div.home-page {
    margin-top: 165px;
  }
  .home-page .home-page-two,.home-page .home-page-three,.home-page .home-page-four,.home-page .home-page-five,.home-page .home-page-six,.home-page .footer{
    padding: 0 0 !important;
  }
  div.home-page > div {
    min-width: 100% !important;
  }
  div.home-page > div > div {
    width: 100%;
    /* margin-top: 12%; */
    /* padding: 0 22px 6% !important; */
  }
  
  div.home-page > div .home-page-two {
    margin-top: 0;
  }
  .home-page .home-page-two div.page-two img:nth-child(1){
    width: 65.8px;
    left: -5px;
  }
  .home-page .home-page-two .page-two img:nth-child(2){
    width: 75.1px;
    right: 15px;
    top: -30px;
  }
  .home-page .home-page-two .page-two img:nth-child(3),.home-page div.home-page-three .start{
    width: 77.2px;
    right: 0;
    top: -30%;
    /* display: none; */
  }
  div.home-page > div .home-page-two .page-two-en {
    line-height: 22px;
  }
  div.home-page > div .home-page-three {
    margin-top: 0 !important;
    padding: 10px 5% 5px !important;
    display: none;
  }
  div.home-page > div .home-page-three.threeweb{
    display: block;
    height: 350px;
  }
  div.home-page > div .home-page-three.threeweb .twohanglogo{
    margin-top: -10px;
    justify-content: inherit;
    align-items: center;
  }
  div.home-page > div .home-page-three.threeweb .threehanglogo{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .home-page .home-page-three.threeweb .logo1 {
    width: 164px;
    height: 12px;
  }
  .home-page .home-page-three.threeweb .logo9 {
    width: 94px;
    height: 21px;
  }
  .home-page .home-page-three.threeweb .logo10 {
    width: 27px;
    height: 39px;
  }
  .home-page .home-page-three.threeweb .logo11 {
    width: 69px;
    height: 17px;
  }
  .home-page .home-page-three.threeweb .logo2 {
    width: 83px;
    height: 14px;
  }
  .home-page .home-page-three.threeweb .logo3 {
    width: 129px;
  }
  .home-page .home-page-three.threeweb .logo6 {
    max-width: 57px;
    max-height: 18px;
  }
  .home-page .home-page-three.threeweb .logo7 {
    width: 38px;
    height: 38px;
  }
  .home-page .home-page-three.threeweb .logo8 {
    width: 88px;
    height: auto;
  }
  .home-page .home-page-three .logo3 {
    width: 120px;
    height: auto;
  }
  .home-page .home-page-three.threeweb .logo5 {
    width: 38px;
    height: 38px;
  }
  div.home-page > div .home-page-four {
    flex-wrap: wrap;
    margin-top: 0 !important;
    justify-content: center;
    margin-bottom: 0;
  }
  .home-page .home-page-four .blur-guang{
    top: -250px;
    left: -90%;
  }
  div.home-page > div .home-page-four .image-left {
    height: auto;
  }
  div.home-page > div .home-page-four .image-left >img{
    width: 100%;
    height: auto;
    display: block;
  }
  div.home-page > div .home-page-four .image-left >div{
    display: none;
  }
  div.home-page > div .home-page-four .txt-middle span{
    font-size: 30px !important;
    line-height: 140% !important;
  }
  div.home-page > div .home-page-four .txt-middle p {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }
  div.home-page > div .home-page-four .txt-right {
    width: 90%;
    flex: none;
    padding-left: 0;
  }
  div.home-page > div .home-page-four .txt-right img {
    width: 100%;
  }
  div.home-page > div .page-two p {
    font-size: 12px !important;
    width: 75% !important;
  }
  div.home-page > div .home-page-five {
    width: 100%;
    margin-top: 8%;
  }
  div.home-page > div .home-page-five .img-blur {
    display: none;
  }
  div.home-page > div .home-page-five .img-search {
    width: 16%;
    top: -4%;
  }
  div.home-page > div .home-page-five .header {
    width: 82%;
    margin-left: 9%;
    height: auto;
    flex-wrap: wrap;
  }
  div.home-page > div .home-page-five .header span{
    width: 100% !important;
    text-align: center;
    font-size: 30px;
line-height: 140%;
  }
  div.home-page > div .home-page-five .header p{
    width: 100% !important;
    text-align: center;
    margin-top: 32px;
    font-size: 14px;
line-height: 27px;
  }
  div.home-page > div .home-page-five .header img {
    width: 90%;
    padding-top: 10%;
  }
  div.home-page > div .home-page-five .commodity-list {
    width: 330px;
    overflow-x: auto;
    margin: 0 auto;
  }
  div.home-page > div .home-page-five .commodity-list .commodity:nth-child(2) {
    margin: 0 15px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity {
    width: 208px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity .price-total {
    flex-wrap: wrap;
  }
  div.home-page > div .home-page-five .commodity-list .commodity .price-total > div {
    width: 100%;
    margin-top: 15px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity > p {
    font-size: 12px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity a {
    width: 178px !important;
    margin-left: 15px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity .commodity-info div p:nth-child(2) {
    font-size: 12px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity .commodity-top {
    width: 208px;
    height: 208px;
  }
  div.home-page > div .home-page-five .commodity-list .commodity .commodity-top img {
    width: 208px;
    height: 208px;
  }
  div.home-page > div .home-page-six span{
    font-size: 32px;
    line-height: 140%;
  }
  div.home-page > div .home-page-six {
    margin-top: 60px;
  }
  div.home-page > div .home-page-six img {
    height: 32px !important;
  }
  div.home-page > div .home-page-six .mouse {
    width: 127px;
    height: 127px !important;
    top: -110px;
    left: -34px;
  }
  div.home-page > div .home-page-six > p {
    margin-bottom: 77px;
    width: 82%;
    margin-left: 9%;
    font-size: 14px;
    line-height: 27px;
  }
  div.home-page > div .home-page-six .ntf-services{
    margin-top: 0;
    justify-content: center;
    align-items: center;
    display: block !important;
    text-align: center;
  }
  div.home-page > div .home-page-six .ntf-services img {
    margin-top: 18px;
    width: 330px;
    height: 335px !important;
    max-height: 335px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
}
