<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ATTA-WEB</title>
	<link rel="stylesheet" type="text/css" href="../../css/swiper.css" />
	<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	<link rel="stylesheet" type="text/css" href="./homePage.css" />
	<link rel="stylesheet" type="text/css" href="./mediaEn.css" />
	<script src="../js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="home-page flex" id="homePage">
		<div>
			<div class="home-page-one" id="Introduction">
				<video autoplay="autoplay" style="width:100%;" loop="loop" src="../images/homePage/nftInfo.mp4" muted="muted"></video>
				<div class="mask-container" v-if="showMask">
						<a href="#Upcoming">{{"Upcoming" | languageswitch("新品预告",long)}}</a>
						<a href="#Contents">{{"NFT Contents" | languageswitch("NFT内容",long)}}</a>
						<a href="#Service">{{"Service" | languageswitch("相关服务",long)}}</a>
						<a href="#Contact">{{"Contact" | languageswitch("联系方式",long)}}</a>
						<p class="switchlanguagebox">
							<span href="#" @click="switchyy('en')">EN</span>
							<span style="margin: 0 16px;">|</span>
							<span href="#" @click="switchyy('ch')">简</span>
						</p>
						<img @click="showMask=false" src="../../images/homePage/close.png" alt="">
				</div>
				<div class="header flex">
					<img class="brandLogo" src="../../images/homePage/logo.png" alt="">
					<img class="head-menu" @click="showMask=true" v-if="isMobile" src="../../images/homePage/menu.png" />
					<div class="header-links" v-if="!isMobile">
						<a href="#Introduction">{{"Introduction" | languageswitch("厂牌简介",long)}}</a>
						<a href="#Upcoming">{{"Upcoming" | languageswitch("新品预告",long)}}</a>
						<a href="#Contents">{{"NFT Contents" | languageswitch("NFT内容",long)}}</a>
						<a href="#Service">{{"Service" | languageswitch("相关服务",long)}}</a>
						<a href="#Contact">{{"Contact" | languageswitch("联系方式",long)}}</a>
						<p class="switchlanguagebox">
							<a href="#" @click="switchyy('en')">EN</a>
							<span style="margin: 0 16px;">|</span>
							<a href="#" @click="switchyy('ch')">简</a>
						</p>
					</div>
				</div>
				<div class="header-txt">
					<img src="../../images/homePage/Text.png" />
				</div>
			</div>
			<div class="home-page-two flex" id="">
				<div class="page-two flex">
					<img src="../../images/homePage/pageTwoLeft.png" alt="">
					<img src="../../images/homePage/pageTworightTop.png" alt="">
					<!-- <img src="../../images/homePage/pageTwoRightBtm.png" alt=""> -->
					<p v-if="long == 'en'" class="page-two-en">
						ATTA is a blockchain-based content creator for premium copyright assets. By focusing on music, movie, esports, charity and celebrity IPs, ATTA aims to secure, produce and distribute best-in-class digital and physical assets to collectors worldwide. ATTA products are available on leading platforms and marketplaces including BAZHUAYU, Poison App and Treasureland etc. ATTA is exclusively sponsored by BAZHUAYU, a blockchain-based platform aiming to realize the full potential of the fan economy.
					</p>
					<p v-else class="page-two-ch">
						ATTA是基于区块链NFT技术构建的数字潮流品牌。 ATTA旨在通过将现实世界的娱乐和文化创意内容NFT化，为全世界Z时代的明星粉丝，潮流玩家，及NFT收藏者打造最优质的NFT内容。我们希望ATTA能够和各类社区一起完成让NFT内容逐渐为主流社会接受这一使命。ATTA厂牌的NFT内容产品涉及数字音乐，电影，短视频，电子竞技，潮流玩物，明星，虚拟偶像等泛娱乐的领域。ATTA的NFT产品在包括八爪娱，得物，币安NFT等各大传统世界的平台及数字货币NFT市场有售。
					</p>
				</div>
			</div>
			<div class="home-page-three flex" id="Upcoming">
				<img src="../../images/homePage/logo01.png" />
				<img src="../../images/homePage/logo02.png" />
				<img src="../../images/homePage/logo03.png" />
				<img src="../../images/homePage/logo04.png" />
				<img src="../../images/homePage/pageTwoRightBtm.png" class="start" alt="">
			</div>
			<div class="home-page-four flex" id="">
				<!-- <img class="blur-guang" src="../../images/homePage/blur.png" alt=""> -->
				<div class="image-left">
					<img src="../../images/homePage/binance.png" />
				</div>
				<div class="txt-right"> 
						<div class="txt-middle">
							<span v-if="long == 'en'"><font style="color:  #A8DEEE;
								;">Upcoming -</font><br/>
								O2 Music NFT</span>
							<span v-else><font style="color:  #A8DEEE;
								;">新品预告 -</font><br/>
								O2实验音乐NFT</span>
							<p v-if="long == 'en'">O2 is established by Ou Yang and Deng Ouge, two renowned rock musicians in mainland China. The two artists were the founders of The Face, and performed at the "Rock and Roll Chinese Music Forces" concert in Hong Kong in 1994. Together with a group of outstanding musicians, they built a significant milestone in history and witnessed the Golden Age of the Chinese rock music. In 2021, encouraged by NFT as a new form of art, Ou Yang and Deng Ouge reunited in O2 and focused on NFT music creation by integrating rock and experimental electronic music. Inspired by the virtual world, sculptures of impossibility and irrational dialogues between 0 and 1, O2 creates and presents three new NFT music pieces at this time.</p>
							<p v-else>o2组合，由两位中国大陆著名的摇滚音乐人欧洋和邓讴歌组成。1989年欧洋与发小邓讴歌一同组建了中国著名摇滚乐队-面孔乐队，作为摇滚乐坛领军人物，欧洋与讴歌参与著名的94香港红磡“中国摇滚乐势力”演唱会，这是中国摇滚乐的一个里程碑。作为其中一员，参演并见证了中国摇滚乐最为辉煌的时刻。2021年，NFT作为一种新的艺术表达形式，将二人以新组合的方式重聚在了一起，将摇滚与实验电音融合，专注NFT音乐的创作，此次o2从虚拟空间，不可能的雕塑，0和1的非理性对话等思考出发，创作了三首全新的NFT音乐藏品。</p>
							<a v-if="long == 'en'">Coming soon</a>
							<a v-else>敬请期待</a>
						</div>
				</div>
			</div>
			<div class="home-page-five" id="Contents">
				<img class="img-search" src="../../images/homePage/SearchLeft.png" alt="">
				<!-- <img class="img-blur" src="../../images/homePage/blur.png" alt=""> -->
				<div class="header flex" v-if="long == 'en'">
					<span v-if="long == 'en'">Discover ATTA<br/><font style="color:  #A8DEEE;
						;">NFT Contents.</font></span>
					<p>ATTA specializes in NFT contents including but not limited to: <font style="color: #fff;">Music, Movies/TV shows, e-sports, Celebrities& Charity.</font></p>
				</div>
				<div class="header flex" v-else>
					<span v-if="long == 'en'">探索精彩ATTA<br/><font style="color:  #A8DEEE;
						;">NFT内容</font></span>
					<p>ATTA专精的NFT内容领域包括但不限于：<font style="color: #fff;">音乐，影视，电子竞技，明星艺人以及一切与慈善相关的业务。</font></p>
				</div>
				<div class="commodity-list flex">
					<div class="commodity">
						<div class="commodity-top commodity-left">
							<img src="../../images/homePage/front.png" />
						</div>
						<p v-if="long == 'en'">TYLOO CSGO - ESPORTS NFT </p>
						<p v-else>天禄CSGO战队明星NFT  </p>
						<div class="price-total flex">
							<div>
								<p>Price</p>
								<p>?? BUSD</p>
							</div>
							<div>
								<p>Total Edition</p>
								<p>???</p>
							</div>
						</div>
						<div class="commodity-info flex">
							<img src="../../images/homePage/Ellipse.png" />
							<div>
								<p>E-sports</p>
								<p v-if="long == 'en'">TYLOO CSGO TEAM</p>
								<p v-else>天禄电子竞技俱乐部</p>
							</div>
						</div>
						<a @click="toBaZhuayu">{{"E-SPORT" | languageswitch("电子竞技",long)}}</a>
					</div>
					<div class="commodity">
						<div class="commodity-top commodity-middle">
							<img src="../../images/homePage/front02.png" />
						</div>
						<p v-if="long == 'en'">April - Experimental Music NFT</p>
						<p v-else>四月-丁武实验音画系列NFT  </p>
						<div class="price-total flex">
							<div>
								<p>Price</p>
								<p>350 BUSD</p>
							</div>
							<div>
								<p>Total Edition</p>
								<p>150</p>
							</div>
						</div>
						<div class="commodity-info flex">
							<img src="../../images/homePage/Ellipse02.png" />
							<div>
								<p>Musician& Artist</p>
								<p>{{"DING WU" | languageswitch("丁武",long)}}</p>
							</div>
						</div>
						<a @click="toBaZhuayu">{{"MUSIC" | languageswitch("音乐",long)}}</a>
					</div>
					<div class="commodity">
						<div class="commodity-top commodity-right">
							<img src="../../images/homePage/front03.png" />
						</div>
						<p v-if="long == 'en'">NIU N.X - Designer Toy NFT</p>
						<p v-else>牛N.X-设计师潮玩NFT  </p>
						<div class="price-total flex">
							<div>
								<p>Price</p>
								<p>2039 HKD</p>
							</div>
							<div>
								<p>Total Edition</p>
								<p>200</p>
							</div>
						</div>
						<div class="commodity-info flex">
							<img src="../../images/homePage/Ellipse03.png" />
							<div>
								<p>Celebrities</p>
								<p>{{"DONGDONG XU" | languageswitch("徐冬冬",long)}}</p>
							</div>
						</div>
						<a @click="toBaZhuayu">{{"CELEBRITIES" | languageswitch("明星艺人",long)}}</a>
					</div>
				</div>
				<div class="nft">
					<img src="../../images/homePage/Group426.png" alt="">
					<p>{{"Find more exclusive NFT at BAZHUAYU!" | languageswitch("在八爪娱平台探索更多精彩NFT内容！",long)}} </p>
					<a @click="toBaZhuayu">{{"Discover More NFT" | languageswitch("即刻开始探索",long)}}</a>
				</div>
			</div>
			<div class="home-page-six" id="Service">
				<img v-if="long == 'en'" src="../../images/homePage/NFTrelatedServices.png" alt="">
				<img v-else src="../../images/homePage/ch4.png" alt="">
				<img class="mouse" src="../../images/homePage/MouseLeft.png" alt="">
				<p v-if="long == 'en'">If you are a content creator, celebrity, artist, or real-world trend label interested in<br/> NFT, ATTA can provide you with a range of the most professional NFT services,<br/> which include:</p>
				<p v-else>如果您是对于NFT有兴趣的内容创作者，明星艺人，或是现实世界的潮流厂牌，ATTA有兴趣为您提供一系列最专业的NFT服务。 包括：</p>
				<div class="ntf-services flex" v-if="long == 'en'">
					<img src="../../images/homePage/glossy01.png" alt="">
					<img src="../../images/homePage/glossy02.png" alt="">
					<img src="../../images/homePage/glossy03.png" alt="">
					<img src="../../images/homePage/glossy04.png" alt="">
					<img src="../../images/homePage/glossy05.png" alt="">
					<img src="../../images/homePage/glossy06.png" alt="">
				</div>
				<div class="ntf-services flex" v-else>
					<img src="../../images/homePage/ch5.png" alt="">
					<img src="../../images/homePage/ch6.png" alt="">
					<img src="../../images/homePage/ch7.png" alt="">
					<img src="../../images/homePage/ch8.png" alt="">
					<img src="../../images/homePage/ch9.png" alt="">
					<img src="../../images/homePage/ch10.png" alt="">
				</div>
			</div>
			<div class="footer flex" id="Contact">
				<div class="footer-left">
					<img src="../images/homePage/logo.png" alt="">
					<p v-if="long == 'en'">ATTA is a blockchain-based content<br/> creator for premium copyright assets. </p>
					<p v-else>ATTA是基于区块链NFT技术构建的数字潮流品牌。 </p>
				</div>
				<div class="footer-right">
					<span>{{"Focus on us" | languageswitch("关注我们",long)}}</span>
					<div>
						<img @click="toPage(1)" src="../images/homePage/footer01.png" alt="">
						<img @click="toPage(2)" src="../images/homePage/footer02.png" alt="">
						<img @click="toPage(3)" src="../images/homePage/footer03.png" alt="">
						<img @click="toPage(4)" src="../images/homePage/footer04.png" alt="">
						<img @click="toPage(5)" src="../images/homePage/footer05.png" alt="">
						<img @click="toPage(6)" src="../images/homePage/footer06.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./homePage.js" type="text/javascript" charset="utf-8"></script>
</html>