@media only screen and (max-width:992px){
  div.home-page{
    width: 100%;
    padding: 0 5%;
    img{
    }
    >div{
      min-width: 100% !important;
      >div{
        width: 100%;
        padding: 0 22px !important;
      }
      .home-page-four {
        flex-wrap: wrap;
        justify-content:center;
        .image-left {
          height: auto;
        }
        .txt-right {
          width: 90%;
          flex: none;
          padding-left: 0;
          img {
            width: 100%;
          }
        }
      }
      .page-two p {
        font-size: 12px !important;
        width: 90% !important;
      }
      .home-page-five{
        width: 100%;
        overflow: hidden;
        .commodity-list{
          width: 100%;
          overflow-x: auto;
          .commodity{
            width: 208px;
            height: 630px;
            .commodity-top{
              width: 208px;
              height: 208px;
              img{
                width: 208px;
                height: 208px;
              }
            }
          }
        }
      }
      .home-page-six{
        margin-top: 60px;
        img{
          width: 100%;
          height: auto !important;
        }
        .mouse{
          width: 127px;
          top: -110px;
          left: -34px;
        }
        >p{
          font-size: 14px;
          line-height: 27px;
        }
        .ntf-services{
          img{
            margin-top: 18px;
            width: 100%;
            height: auto !important;
          }
        }
      }
    }
  }
}