.stak-container {
  width: 100%;
  .top-banner {
    width: 100%;
  }
  .stak-content {
    width: 1300px;
    margin: 140px auto;
    text-align: center;
    overflow: hidden;
    .member-list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .member-cell {
        width: 31%;
        img {
          width: 100%;
        }
      }
    }
  }
}