* {
  box-sizing: border-box;
}

.receive-btn {
    width: 240px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin: 60px auto;
    color: #a8deee;
    border: 1px solid #a8deee;
}

.video-wrap {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .star-image{
    position: absolute;
    bottom: -160px;
    right: 0px;
    margin-right: 150px;
  }
}

.home-page {
  width: 100%;
  font-size: 0;
  background-color: #000;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: 668px;
}
.home-page > i {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 10%;
  background: rgba(169, 222, 238, 0.35);
  filter: blur(210px);
  transform: rotate(7.02deg);
  z-index: 1;
}
.home-page .home-page-two,.home-page .home-page-three,.home-page .home-page-four,.home-page .home-page-five,.home-page .home-page-six,.home-page .footer{
  padding: 0 150px;
}
.home-page > div {
  z-index: 10;
  width: 100%;
}
video{
  width: 100%;
  object-fit: fill;
}
.video-wrap video {
  height: 808px;
}
.content-wrap video {
  object-fit: contain;
}
.header-txt {
  width: 100%;
  text-align: center;
  padding: 90px 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}
 .header-txt img {
  width: 66%;
  padding: 10% 20px !important;
}

.home-page .home-page-two {
  width: 100%;
  /* height: 551px; */
  background: url(/imgs/pageTwoBgi.png) no-repeat center center;
  background-size: cover;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.home-page .home-page-two .page-two {
  width: 1085px;
  // height: 551px;
  background: url(/imgs/pageTwoBgiBgi.png) no-repeat center center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.home-page .home-page-two .page-two .page-two-en {
  font-family: 'Hanson-Bold';
}
.home-page .home-page-two .page-two p {
  color: #fff;
  opacity: 0.8;
  width: 60%;
  font-style: normal;                       
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing:2px;
}

.home-page .home-page-two p.page-two-en{
  font-family: 'Hanson-Bold';
}
.home-page .home-page-two p.page-two-ch{
  width: 468px; 
  line-height: 40px;
  /* padding-top: 69px; */
  /* font-size: 20px; */
}
.home-page .home-page-two .page-two img:nth-child(1) {
  position: absolute;
  top: 150px;
  left: -124px;
}
.home-page .home-page-two .page-two img:nth-child(2) {
  position: absolute;
  bottom: 388px;
  right: -124px;
}
.home-page .home-page-two .page-two img:nth-child(3) ,.home-page .home-page-three .start{
  position: absolute;
  width: 293px;
  bottom: 250%;
  right: 0%;
}
.home-page .home-page-three {
  padding:48px 10% 48px 5%;
  background: rgba(5, 5, 5, 0.48);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}
.home-page .threeweb{
  display: none;
}
.onehanglogo,.twohanglogo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.onehanglogo{
  width: 100%;
  margin-left: 0%;
}
.twohanglogo{
  margin: 0 auto;
  // margin-top: 60px;
  .img-center{
    width: 166px;
    text-align: center;
  }
}
.home-page .home-page-three img {
  margin: 20px 0;
}
.home-page .home-page-three{
  .img-right{
    // width: 258px;
    text-align:center;
  }
}
.home-page .home-page-three .logo1 {
  width: 258px;
  height: 19px;
}
.logo3 {
  width: 258px;
}
.logo9{
width: 193px;
}
.logo10{
  width: 65px;
}
.logo11{
  width: 188px;
}
.home-page .home-page-three .logo2 {
  width: 166px;
  height: 28px;
}
.home-page .home-page-three .logo3 {
  width: 270px;
}
.home-page .home-page-three .logo6 {
  max-width: 163px;
  max-height: 42px;
}
.home-page .home-page-three .logo7 {
  width: 88px;
  height: 80px;
}
.home-page .home-page-three .logo8 {
  width: 231px;
}
.home-page .home-page-three .logo5 {
  width: 85px;
  height: 85px;
}
.home-page .home-page-four {
  width: 80%;
  height: auto;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  background: rgba(5, 5, 5, 0.48);
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
}
.home-page .home-page-four .blur-guang{
  position: absolute;
  top: -560px;
  left: -20%;
  transform: rotate(90deg);
  z-index: 0;
}
.home-page .home-page-four .image-left {
  position: relative;
  width: 600px;
  height: 673px;
}
.home-page .home-page-four .image-left img {
  width: 100%;
}

.home-page .home-page-four .image-left div img {
  transition: all 0.8s ease;
  width: 527px;
  height: 603px;
  position:absolute;
  top: 45px;
  left: 88px;
}
.home-page .home-page-four .image-left div .image-bottom {
  transition: all 0.8s ease;
  z-index: 10;
  top: 164px;
  left: 34px;
}
.home-page .home-page-four .image-left div .image-middle {
  transition: all 0.8s ease;
  z-index: 20;
  top: 45px;
  left: 88px;
}
.home-page .home-page-four .image-left div .image-top {
  transition: all 0.8s ease;
  z-index: 30;
  top: 0;
  left: 0;
}
.home-page .home-page-four .txt-right {
  flex: 1;
  padding-left: 80px;
}
.home-page .home-page-four .txt-right .txt-middle span{
  display: inline-block;
  width: 100%;
  font-size: 48px;
  line-height: 67px;
  font-weight: bold;
  color: #fff;
}
.home-page .home-page-four .txt-right .txt-middle p {
  margin-top: 30px;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 190%;
  color: rgba(250, 250, 250, 0.8);
}
.home-page .home-page-four .txt-right .txt-middle a {
  margin-top: 60px;
  display: block;
  border: 1px solid #A8DEEE;
  width: 196px;
  height: 69px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 69px;
  text-align: center;
  color: #A8DEEE;
  cursor: pointer;
}
.home-page .home-page-five {
  position: relative;
}
.home-page .home-page-five > .img-search {
  position: absolute;
  right: 0;
  top: -190px;
}
.home-page .home-page-five > .img-blur {
  position: absolute;
  right: 0;
  top: -190px;
}
.home-page .home-page-five .header span{
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  color: #fff;
}
.home-page .home-page-five .header p{
  padding-right: 40px;
  width: 434px;
  text-align: left;
  font-size: 18px;
  line-height: 34px;
  color: rgba(250, 250, 250, 0.8);;
}
.home-page .home-page-five .commodity-list {
  margin-top: 80px;
  justify-content: space-between;
}
.home-page .home-page-five .commodity-list .commodity {
  width: 28%;
  background: rgba(169, 222, 238, 0.1);
}
.home-page .home-page-five .commodity-list .commodity:hover {
  margin-top: -10px;
  transition: all 100ms linear;
}
.home-page .home-page-five .commodity-list .commodity .commodity-left {
  background: url(/imgs/glass.png) no-repeat;
}
.home-page .home-page-five .commodity-list .commodity .commodity-middle {
  background: url(/imgs/glass02.png) no-repeat;
}
.home-page .home-page-five .commodity-list .commodity .commodity-right {
  background: url(/imgs/glass03.png) no-repeat;
}
.home-page .home-page-five .commodity-list .commodity .commodity-top {
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}
.home-page .home-page-five .commodity-list .commodity .commodity-top img {
  width: 100%;
  height: 100%;
}
.home-page .home-page-five .commodity-list .commodity > p {
  margin-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.home-page .home-page-five .commodity-list .commodity .price-total {
  padding: 34px 25px 0;
  justify-content: space-between;
}
.home-page .home-page-five .commodity-list .commodity .price-total > div {
  padding: 20px;
  width: 46.77%;
  height: 98px;
  background: rgba(169, 222, 238, 0.1);
}
.home-page .home-page-five .commodity-list .commodity .price-total > div p:nth-child(1) {
  font-size: 13px;
  line-height: 18px;
  color: rgba(250, 250, 250, 0.6);
}
.home-page .home-page-five .commodity-list .commodity .price-total > div p:nth-child(2) {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}
.home-page .home-page-five .commodity-list .commodity .commodity-info {
  margin-left: 25px;
  margin-top: 35px;
}
.home-page .home-page-five .commodity-list .commodity .commodity-info img {
  width: 53px;
  height: 53px;
}
.home-page .home-page-five .commodity-list .commodity .commodity-info div {
  margin-left: 15px;
  width: 100%;
}
.home-page .home-page-five .commodity-list .commodity .commodity-info div p:nth-child(1) {
  font-size: 13px;
  line-height: 18px;
  color: rgba(250, 250, 250, 0.6);
}
.home-page .home-page-five .commodity-list .commodity .commodity-info div p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 60px);
}
.home-page .home-page-five .commodity-list .commodity .commodity-info div p:nth-child(2) {
  margin-top: 6px;
  font-size: 18px;
  line-height: 31px;
  color: #fafafa;
}
.home-page .home-page-five .commodity-list .commodity a {
  margin: 0 auto;
  height: 70px;
  margin-top: 35px;
  margin-bottom: 25px;
  display: block;
  width: calc(100% - 50px);
  font-weight: bold;
  border: 1px solid #A8DEEE;
  box-sizing: border-box;
  margin-left: 25px;
  font-size: 18px;
  color: #A8DEEE;
  text-align: center;
  line-height: 68px;
  cursor: pointer;
}
.home-page .home-page-five .nft {
  margin-top: 44px;
  text-align: center;
}
.home-page .home-page-five .nft img {
  width: 60px;
  // height: 48px;
  background-size: 100% auto;
}
.home-page .home-page-five .nft p {
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: rgba(250, 250, 250, 0.8);
  margin-top: 10px;
  margin-bottom: 36px;
}
.home-page .home-page-five .nft a {
  display: inline-block;
  width: 223px;
  height: 69px;
  background: #A8DEEE;
  font-size: 18px;
  color: #fff;
  line-height: 69px;
  cursor: pointer;
  text-align: center;
}
.home-page .home-page-six {
  text-align: center;
  margin-top: 110px;
  position: relative;
}
.home-page .home-page-six span{
  font-size: 53px;
  line-height: 140%;
  color: #fff;
}
.home-page .home-page-six .mouse {
  width: 180px;
  position: absolute;
  left: 73px;
  top: -170px;
}
.home-page .home-page-six > p {
  margin-top: 37px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: rgba(250, 250, 250, 0.8);
}
.home-page .home-page-six .ntf-services {
  margin-top: 10px;
}
.home-page .home-page-six .ntf-services img {
  width: 23vw;
  height: 23vw;
  margin-top: 34px;
}
.downappbox{
  color: #fff;
  text-align: center;
  font-size: 53px;
  margin: 102px auto;
  font-weight: bold;
  .h5show{
    display: none;
  }
  .imgbox{
    background-color: #fff;
    width: 359px;
    height: 359px;
    text-align: center;
    border-radius: 34px;
    padding: 24px;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }
  .pcshow{
    .content{
      font-size: 20px;
      line-height: 190%;
      text-align: center;
      font-family: "pingfang HK";
      font-style: normal;
      font-weight: normal;
      color: rgba(250, 250, 250, 0.8);
    }
  }
}
.pcstyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59.44%;
  .fz-fm-zhzh{
    font-size: 40px;
  }
  .pcshow{
    width: 447px;
    .content{
      margin-top: 27px;
    }
  }
}
.home-page{
  .atta-game{
    padding-top: 98px;
    background-color:#000;
    position: relative;
    z-index: 10;
    padding-bottom: 35px;
    .game-title{
      .game-mb{
        display: none;
      }
      .game-pc{
        display: block;
      }
      h5{
        font-size: 58px;
        line-height: 140%;
        text-align: center;
      }
      p{
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        margin-top: 30px;
        font-size: 28px;
        color: rgba(250, 250, 250, 0.8);
      }
    }
    .game-list{
      padding: 0 22%;
      justify-content:space-between;
      margin-top: 30px;
      width: 100%;
      div{
        width: 30%;
        img{
          width: 100%;
          // height:318px;
        }
        p{
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #FFFFFF;
          margin-top: 23px;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px){
  .pcstyle{
    display: block;
  }
  .downappbox{
    font-size: 32px;
    .h5show{
      display: block;
      
    }
    .pcshow{
      display: none;
    }
    .imgbox{
      width: 55%;
      height: 55vw;
      padding: 15px;
      border-radius: 20px;
      margin: auto;
      margin-top: 59px;
    }
  }
  .home-page{
    div.atta-game{
      padding-top: 27px;
      .game-title{
        .game-mb{
          display: block;
        }
        .game-pc{
          display: none;
        }
        h5{
          font-size: 20px;
          line-height: 120%;
        }
        p{
          font-size: 16px;
          line-height: 22px;
          margin-top: 8px;
        }
      }
      .game-list{
        padding: 0 25px;
        margin-top: 15px;
        width: 100%;
        overflow: auto;
        div{
          width: 185px !important;
          img{
            width: 185px;
            // height:260px;
          }
          p{
            font-size: 12px;
line-height: 16px;
          }
        }
      }
    }
  }
}
